# Fichiers d'environnement
.env
.env.local  
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local 


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Autres fichiers à ignorer
*.log
.DS_Store

